#header {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border-radius: 18px;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#header > h1 {
    background-color: var(--primary-color-shadow);
    margin: 0.05rem auto;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

#header .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
}

.data > p {
    margin: 16px 6px;
    padding: 0;
}

#balance {
    font-size: 3.0rem;
    font-weight: 800;
    color: var(--positive-color);
    text-align: left;
    margin: 0rem 0;
    text-shadow: 1px 4px rgba(8, 138, 73, 0.4);
}